
// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$primary: #1890ff;
$success: #13ce66;
$warning:  #FFBA00;
$danger: #ff4949;

// text-color
$text-color: #333333  !default;
$primary-text-color: #333333;
$secondary-text-color: #8C8C8C;
$normal-text-color: #666666;

// text font-size
$font-size: 14px !default;
$xs-font-size: 12px;
$sm-font-size: 13px;
$body-font-size: $font-size;
$md-font-size: 16px;
$lg-font-size: 18px;
$xl-font-size: 20px;

// border
$border-color: #e6ebf5;